Project_5. Задача регрессии/holiday_data.csv
Project_5. Задача регрессии/osrm_data_train.zip
Project_5. Задача регрессии/Project5_osrm_data_test.zip
Project_5. Задача регрессии/Project5_test_data.zip
Project_5. Задача регрессии/Project5_train_data.zip
Project_5. Задача регрессии/submission_gb.csv
Project_5. Задача регрессии/weather_data.zip
Project_4. Задача классификации/bank_fin.zip
Project_6. Сегментирование клиентов онлайн-магазина подарков/data.csv
Project_final/data_copy.csv
Project_final/data.csv
Project_final/ex1.ipynb
Project_final/ex.ipynb
Project_motorica/public_baseline.ipynb
Project_motorica/sample_submission.csv
Project_motorica/X_test.npy
Project_motorica/X_train.npy
Project_motorica/y_train.csv
